* {
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 $main-spacing / 2;
}

.app--description {
    margin-bottom: $main-spacing;
}
