ul {
    margin-bottom: 100px;
    li {
        margin-bottom: $main-spacing / 2;
        padding-bottom: $main-spacing / 2;
        border-bottom: 1px solid $color-primary;

        div {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: $main-spacing / 2;

            div {
                display: grid;
            }
        }
    }
}
