.navlinks {
    font-size: 150%;

    a {
        padding: $main-spacing;
        color: rgb(13, 37, 104);
        text-decoration: none;

        &:hover {
            color: darkgrey;
        }
    }
}