$base-font-size: 16px;
$small-font-size: 14px;

$font-family: "Montserrat", sans-serif;

$main-spacing: 20px;
$max-width: 1000px;

$color-primary: #f7a72e;
$color-good: #139b35;
$color-warning: #daaa10;
$color-fatal: #e72b12;

$breakpoints: (
    xs: 500px,
    sm: 800px,
    md: 1000px,
);
